body {
    font-family: Frutiger;
    margin: 0;
}

svg {
    overflow: inherit;
    width: 100%;
}

#layOut {
    display: grid;
    grid-template-columns: 70% 30%;
    border-bottom: 3px solid #003b51;
}

.sidebar {
    grid-column: 2;
    background: red;
    height: 67em;
    padding: 3em;
}


.legenda {
    padding: 1em 0;
    margin-left: 2em;
    width: max-content;
}

.declare {
    margin-left: 0.5em;
    width: 8em;
    min-width: fit-content;
    height: 4em;
    line-height: 4;
    font-weight: 500;
}

.legStart {
    display: flex;
}

.objectLegenda {

    margin: 3em 0 1em 0;
    font-size: 1.2em;
    font-weight: 700;
}

.legBlock {
    min-width: 10em;
    height: 4em;
    margin: 0.2em 0;
}

.declare {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
}

.leg1 {
    background: #60d5c3;
}
.leg2 {
    background: #46b9b6;
}
.leg3 {
    background: #2794a8;
}
.leg4 {
    background: #0e6e8a;
}
.leg5 {
    background: #003b51;
}

.leg6 {
    background: orange;
}



div.tooltip {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    pointer-events: none;
}
header {
    border-bottom: 3px solid #003b51;
}
.sidebarRight {
    border-left: 3px solid #003b51;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttonHolder {
    background-color: #003b51;
    margin-top: 1em;
    padding: 3em 0;
    border-top: 3px solid #003b51;
}

.title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin: 1em 0;
}

#reset{
    display: block;
    margin: 0 auto;
    padding: 1em 2em;
    border: 0.1em solid #003b51;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    transition: 0.15s;

}
#reset:hover{
    cursor: pointer;
    background-color: red;
    color: #ffffff;
}